<h3>pending proposals</h3>
{{#each model }}
<h4><code>{{ this.team }}</code></h4>

<ul>
    {{#each this.fcps as |fcp| }}
    <li>
        {{ fcp.disposition }}:
        <b><a href="https://github.com/{{ fcp.issue.repository }}/issues/{{ fcp.issue.number }}#issuecomment-{{ fcp.statusComment.id }}"
            target="_blank">
                {{ fcp.issue.title }} ({{ fcp.issue.repository }}#{{ fcp.issue.number }})</a></b>

        <ul><li>
        {{#each fcp.pendingReviewers as |r| }}
        <a href="/fcp/{{r}}">{{ r }}</a>&nbsp;
        {{else}}
        no pending checkboxes
        {{/each}}
        </li></ul>

        <ul><li>
        {{#each fcp.pendingConcerns as |r| }}
        <a href="https://github.com/{{ fcp.issue.repository }}/issues/{{ fcp.issue.number }}#issuecomment-{{ r.commentId }}">{{ r.name }} (by {{ r.login }})</a>&nbsp;
        {{else}}
        no pending concerns
        {{/each}}
        </li></ul>
    </li>
    {{/each}}
</ul>
{{/each}}
