{{outlet}}

<table>
  <tr>
    <td>
      <a href="https://github.com/{{model.user.login}}" target="_blank">
        <img style="width:50px; height: auto" src="https://avatars.githubusercontent.com/{{model.user.login}}" />
      </a>
    </td>
    <td>
      <h3>{{model.user.login}}</h3>
    </td>

  </tr>
</table>

<h5>FCP Proposals</h5>

<table>
  <thead>
    <tr>
      <th>
        Issue/PR
      </th>
      <th>
        Disposition
      </th>
      <th>
        Initiating Comment
      </th>
      <th>
        Checklist Comment
      </th>
    </tr>
  </thead>
  {{#each model.fcps as |f|}}
    <tr>
      <td>
        <a href="https://github.com/{{f.issue.repository}}/issues/{{f.issue.number}}" target="_blank">
            {{f.issue.title}}
        </a>
      </td>
      <td>
        {{f.proposal.disposition}}
      </td>
      <td>
        <a href="https://github.com/{{f.issue.repository}}/issues/{{f.issue.number}}#issuecomment-{{f.proposal.fk_initiating_comment}}" target="_blank">
          {{f.proposal.fk_initiating_comment}}
        </a>

      </td>
      <td>
        <a href="https://github.com/{{f.issue.repository}}/issues/{{f.issue.number}}#issuecomment-{{f.proposal.fk_bot_tracking_comment}}" target="_blank">
        {{f.proposal.fk_bot_tracking_comment}}
      </a>
      </td>
    </tr>
  {{/each}}
</table>
