{{outlet}}

<h3>FCP/Merge Proposals:</h3>

{{#each model.fcps as |f| }}
    <h5><code>{{ f.team }}</code></h5>

    <ul>
        {{#each f.fcps as |fcp| }}
            <li>
                <a
                href="https://github.com/{{ fcp.issue.repository }}/issues/{{ fcp.issue.number }}#issuecomment-{{ fcp.statusComment.id }}"
                target="_blank">
                {{ fcp.issue.title }} ({{ fcp.issue.repository }} #{{ fcp.issue.number }})</a>:
                waiting for
            {{#each fcp.pendingReviewers as |r| }}
                <a href="/fcp/{{r}}">{{ r }}</a>&nbsp;
            {{/each}}
            </li>
        {{/each}}
    </ul>
{{/each}}
