{{outlet}}

<h3>Common words in issues and PRs in the last 2 weeks</h3>

<div id="wordCloud"></div>

<h3>Most discussed open issues &amp; PRs</h3>

<h5>Sorted by number of comments in the last 2 weeks (descending)</h5>

<table>
    <thead>
        <tr>
            <th>Repository</th>
            <th>Title</th>
        </tr>
    </thead>

    <tbody>
        {{#each model.issues as |i|}}
        <tr>
            <td><strong>{{i.repository}}</strong></td>
            <td>
                <strong>
                {{#if i.is_pull_request}}
                <a href="https://github.com/{{i.repository}}/pull/{{i.number}}" target="_blank">
                    {{i.title}}
                </a>
                {{else}}
                <a href="https://github.com/{{i.repository}}/issues/{{i.number}}" target="_blank">
                    {{i.title}}
                </a>
                {{/if}}
            </strong>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
