{{outlet}}

<h3>Nightly Releases</h3>

{{#with model.streak as |s|}}
  <h4>
      It's been <strong>{{s.current_length_days}} days</strong> since a failed nightly
      build{{#if s.last_failure}} (since {{s.last_failure}}){{/if}}.
  </h4>

  <h5>
      Longest streak of successful nightly builds was <strong>{{s.longest_length_days}} days</strong>
      (from {{s.longest_start}} to {{s.longest_end}}).
  </h5>
{{/with}}

{{line-chart title='Times of Successful Nightly Builds' data=model.build_times}}

<div class="row">
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Released?</th>
      </tr>
    </thead>
    <tbody>
      {{#each model.nightlies as |nightly|}}
        <tr>
          <td>{{nightly.date}}</td>
          {{#if nightly.released}}
            <td style="background: #DFF0D8">
              &#x2713; Yes
            </td>
          {{else}}
            <td style="background: #F2DEDE">
              <div><strong>&#x2717; No</strong></div>
            </td>
          {{/if}}
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
