{{outlet}}

<h3><a id="nightlies"/>Nightly Releases</h3>

<div class="row">
    {{#each model.nightlies as |release|}}
        {{#if release.released}}
            <div class="release-square" style="background: #006600;" title="{{release.date}}"></div>
        {{else}}
            <div class="release-square" style="background: #990000;" title="{{release.date}}"></div>
        {{/if}}
    {{/each}}
</div>

<table>
    <thead>
        <tr>
            <th>Date</th>
            <th>Released?</th>
        </tr>
    </thead>
    <tbody>
        {{#each model.nightlies as |release|}}
        <tr>
            <td>{{release.date}}</td>
            <td>
            {{#if release.released}}
                Yes
            {{else}}
                No
            {{/if}}
        </td>
        </tr>
        {{/each}}
    </tbody>
</table>
