{{outlet}}

<h3>Pull Requests</h3>
<h5>Mean Age of Currently Open PRs: {{model.pr.days_open_current_mean}} days</h5>
<div class="row">
{{high-charts mode=model.pr.open_per_day.mode content=model.pr.open_per_day.data chartOptions=model.pr.open_per_day.opts }}
</div>
{{high-charts mode=model.pr.days_open_before_close.mode content=model.pr.days_open_before_close.data chartOptions=model.pr.days_open_before_close.opts }}

<hr/>

<h3>Issues</h3>

TODO

<hr/>

<h3>CI Times</h3>
{{high-charts mode=model.linux_buildbots.per_builder_times.mode content=model.linux_buildbots.per_builder_times.data chartOptions=model.linux_buildbots.per_builder_times.opts }}

{{high-charts mode=model.mac_buildbots.per_builder_times.mode content=model.mac_buildbots.per_builder_times.data chartOptions=model.mac_buildbots.per_builder_times.opts }}

{{high-charts mode=model.windows_buildbots.per_builder_times.mode content=model.windows_buildbots.per_builder_times.data chartOptions=model.windows_buildbots.per_builder_times.opts }}

<hr/>

<h3>CI Failures</h3>

{{high-charts mode=model.linux_buildbots.per_builder_fails.mode content=model.linux_buildbots.per_builder_fails.data chartOptions=model.linux_buildbots.per_builder_fails.opts }}

{{high-charts mode=model.mac_buildbots.per_builder_fails.mode content=model.mac_buildbots.per_builder_fails.data chartOptions=model.mac_buildbots.per_builder_fails.opts }}

{{high-charts mode=model.windows_buildbots.per_builder_fails.mode content=model.windows_buildbots.per_builder_fails.data chartOptions=model.windows_buildbots.per_builder_fails.opts }}
