{{outlet}}

<h4>Rust 1.{{model.stable.next_version}} stable will release on {{model.stable.next_date}}.</h4>

<h5>Rust 1.{{model.stable.previous_version}} stable was released on {{model.stable.previous_date}}.</h5>
