{{outlet}}

<h5>Sections:</h5>
<p>
    <a href="#nightlies">Nightly Releases</a>
    &bull;
    <a href="#issues">Issues</a>
    &bull;
    <a href="#pull-requests">Pull Requests</a>
    &bull;
    <a href="#ci-times">CI Times</a>
    &bull;
    <a href="#ci-failures">CI Failures</a>
</p>
<hr/>

<h3><a id="nightlies"/>Nightly Releases</h3>

<style>
.square {
    float: left;
    position: relative;
    width: 6%;
    padding-bottom: 6%;
    margin: 0.2%;
    overflow: hidden;
}
</style>

<div class="row">
    {{#each model.nightlies.releases as |release|}}
        {{#if release.released}}
            <div class="square" style="background: #006600;" title="{{release.date}}"></div>
        {{else}}
            <div class="square" style="background: #990000;" title="{{release.date}}"></div>
        {{/if}}
    {{/each}}
</div>

<hr/>

<h3><a id="issues"/>Issues</h3>

<h5>
    <a class="github-search-link"
       href="https://github.com/rust-lang/rust/issues?q=is%3Aopen+is%3Aissue+sort%3Acreated-asc"
       target="_blank">
    {{model.issues.days_open_current_mean}} days
</a>
is the mean age of currently open issues
</h5>

<h5>
    <a class="github-search-link"
       href="https://github.com/rust-lang/rust/issues?q=is%3Aopen+is%3Aissue+label%3AP-high" target="_blank">
        {{model.issues.num_high_priority}}
    </a>
    <code>P-high</code> issues open
</h5>

<h5>
    <a class="github-search-link"
       href="https://github.com/rust-lang/rust/issues?q=is%3Aopen+is%3Aissue+label%3Aregression-from-stable-to-stable"
       target="_blank">
        {{model.issues.num_stable_regress}}
    </a>
    <code>regression-from-stable-to-stable</code> issues open
</h5>

<h5>
    <a class="github-search-link"
       href="https://github.com/rust-lang/rust/issues?q=is%3Aopen+is%3Aissue+label%3Aregression-from-stable-to-beta"
       target="_blank">
        {{model.issues.num_beta_regress}}
    </a>
    <code>regression-from-stable-to-beta</code> issues open
</h5>

<h5>
    <a class="github-search-link"
       href="https://github.com/rust-lang/rust/issues?q=is%3Aopen+is%3Aissue+label%3Aregression-from-stable-to-nightly"
       target="_blank">
        {{model.issues.num_nightly_regress}}
    </a>
    <code>regression-from-stable-to-nightly</code> issues open

</h5>

{{line-chart title='Issues Opened/Closed Per Day' data=model.issues.open_close_per_day}}

{{line-chart title='Issues Days Open Before Closed' data=model.issues.days_open_before_close}}

<hr/>

<h3><a id="pull-requests"/>Pull Requests</h3>
<h5>
    <a class="github-search-link"
       href="https://github.com/rust-lang/rust/pulls?q=is%3Apr+is%3Aopen+sort%3Acreated-asc"
       target="_blank">
        {{model.pr.days_open_current_mean}} days
    </a>
    is the mean age of currently open pull requests
</h5>

{{line-chart title='PRs Opened/Closed Per Day' data=model.pr.open_close_per_day}}

{{line-chart title='PR Days Open Before Closed' data=model.pr.days_open_before_close}}

<hr/>

<h3><a id="ci-times"/>CI Times</h3>

{{line-chart title='Times of Successful CI Builds (Linux)' data=model.linux_buildbots.per_builder_times}}

{{line-chart title='Times of Successful CI Builds (Mac)' data=model.mac_buildbots.per_builder_times}}

{{line-chart title='Times of Successful CI Builds (Windows)' data=model.windows_buildbots.per_builder_times}}

<hr/>

<h3><a id="ci-failures"/>CI Failures</h3>

{{line-chart title='Number of Failed CI Builds (Linux)' data=model.linux_buildbots.per_builder_fails}}

{{line-chart title='Number of Failed CI Builds (Mac)' data=model.mac_buildbots.per_builder_fails}}

{{line-chart title='Number of Failed CI Builds (Windows)' data=model.windows_buildbots.per_builder_fails}}
