{{outlet}}

<h3>Issues</h3>

<h5>
    # of <code>P-high</code> issues open:
    <a href="https://github.com/rust-lang/rust/issues?q=is%3Aopen+is%3Aissue+label%3AP-high" target="_blank">
        {{model.issues.num_high_priority}}
    </a>
</h5>

<h5>
    # of <code>regression-from-stable-to-stable</code> issues open:
    <a href="https://github.com/rust-lang/rust/issues?q=is%3Aopen+is%3Aissue+label%3Aregression-from-stable-to-stable" target="_blank">
        {{model.issues.num_stable_regress}}
    </a>
</h5>

<h5>
    # of <code>regression-from-stable-to-beta</code> issues open:
    <a href="https://github.com/rust-lang/rust/issues?q=is%3Aopen+is%3Aissue+label%3Aregression-from-stable-to-beta" target="_blank">
        {{model.issues.num_beta_regress}}
    </a>
</h5>

<h5>
    # of <code>regression-from-stable-to-nightly</code> issues open:
    <a href="https://github.com/rust-lang/rust/issues?q=is%3Aopen+is%3Aissue+label%3Aregression-from-stable-to-nightly" target="_blank">
        {{model.issues.num_nightly_regress}}
    </a>
</h5>

<h5>Mean Age of Currently Open Issues:
    <a href="https://github.com/rust-lang/rust/issues?q=is%3Aopen+is%3Aissue+sort%3Acreated-asc" target="_blank">
    {{model.issues.days_open_current_mean}} days
</a>
</h5>

TODO

<hr/>

<h3>Pull Requests</h3>
<h5>Mean Age of Currently Open PRs:
    <a href="https://github.com/rust-lang/rust/pulls?q=is%3Apr+is%3Aopen+sort%3Acreated-asc" target="_blank">
        {{model.pr.days_open_current_mean}} days
    </a>
</h5>
<div class="row">
{{high-charts mode=model.pr.open_per_day.mode content=model.pr.open_per_day.data chartOptions=model.pr.open_per_day.opts }}
</div>
{{high-charts mode=model.pr.days_open_before_close.mode content=model.pr.days_open_before_close.data chartOptions=model.pr.days_open_before_close.opts }}

<hr/>

<h3>CI Times</h3>
{{high-charts mode=model.linux_buildbots.per_builder_times.mode content=model.linux_buildbots.per_builder_times.data chartOptions=model.linux_buildbots.per_builder_times.opts }}

{{high-charts mode=model.mac_buildbots.per_builder_times.mode content=model.mac_buildbots.per_builder_times.data chartOptions=model.mac_buildbots.per_builder_times.opts }}

{{high-charts mode=model.windows_buildbots.per_builder_times.mode content=model.windows_buildbots.per_builder_times.data chartOptions=model.windows_buildbots.per_builder_times.opts }}

<hr/>

<h3>CI Failures</h3>

{{high-charts mode=model.linux_buildbots.per_builder_fails.mode content=model.linux_buildbots.per_builder_fails.data chartOptions=model.linux_buildbots.per_builder_fails.opts }}

{{high-charts mode=model.mac_buildbots.per_builder_fails.mode content=model.mac_buildbots.per_builder_fails.data chartOptions=model.mac_buildbots.per_builder_fails.opts }}

{{high-charts mode=model.windows_buildbots.per_builder_fails.mode content=model.windows_buildbots.per_builder_fails.data chartOptions=model.windows_buildbots.per_builder_fails.opts }}
